
@{
    ViewData["Title"] = "Content1";
    Layout = "~/Views/Main/Index.cshtml";
}

<div class="ekilebiliralan">
    <div class="rivaalt">
        <div class="slideraltslogan villaplanslogan">!IcerikBaslik</div>
        <div class="ekilebilir villadeskop">
            <div class="">
                <div class="katplan">
                    <ul>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlaria1.php"><img src="./Assets/mp1.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlaria2.php"><img src="./Assets/mp2.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlarib1.php"><img src="./Assets/mp3.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlarib2.php"><img src="./Assets/mp4.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlaric.php"><img src="./Assets/mp5.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlarid1.php"><img src="./Assets/mp6.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlarid2.php"><img src="./Assets/mp7.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlarie.php"><img src="./Assets/mp8.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlarif.php"><img src="./Assets/mp9.jpg"></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="ekilebilir villamobil">
            <div class="">
                <div class="">
                    <ul class="planust">
                        <li><a href="http://www.duslervadisiriva.com/villaplanlaria1.php"><img src="./Assets/mp1.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlaria2.php"><img src="./Assets/mp2.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlarib1.php"><img src="./Assets/mp3.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlarib2.php"><img src="./Assets/mp4.jpg"></a></li>
                    </ul>
                    <ul class="planalt">
                        <li><a href="http://www.duslervadisiriva.com/villaplanlaric.php"><img src="./Assets/mp5.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlarid1.php"><img src="./Assets/mp6.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlarid2.php"><img src="./Assets/mp7.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlarie.php"><img src="./Assets/mp8.jpg"></a></li>
                        <li><a href="http://www.duslervadisiriva.com/villaplanlarif.php"><img src="./Assets/mp9.jpg"></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>

</div>
