
@{
    ViewData["Title"] = "Index";
}

<h2>
    <pre>
 Bütün js ve css gibi dosyalarını package.json içerisinde tanımladığım gibi alt alta tanımlıyoruz.
 Eğer ki sen kendin bir css veya js dosyası yazacak olursan yine assets dosyası içerisine at oranın yolunu veririz.
 Package.json ı kullanmak istememin sebebi kalıbı bozmamak.
 Yoksa assets içerisinden de olacağını düşünüyorum.
</pre>

</h2>



