
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Main/Index.cshtml";
}
<div style="text-align:center">
    <h1>HOME PAGE</h1>

    ASDADSADASASDAASDASDADSADASASDAASDASDADSADASASDAASDASDADSADASASDAASDASDADSADASASDAASDASDADSADASASDAASDASDADSADASASDAASDASDADSADASASDAASDASDADSADASASDAASDASDADSADASASDAASD
</div>