<!DOCTYPE html>
<!-- saved from url=(0049)http://www.duslervadisiriva.com/villaplanlari.php -->
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style id="stndz-style">
        div[class*="item-container-obpd"],
        a[data-redirect*="paid.outbrain.com"],
        a[onmousedown*="paid.outbrain.com"] {
            display: none !important;
        }

        a div[class*="item-container-ad"] {
            height: 0px !important;
            overflow: hidden !important;
            position: absolute !important;
        }

        div[data-item-syndicated="true"] {
            display: none !important;
        }

        .grv_is_sponsored {
            display: none !important;
        }

        .zergnet-widget-related {
            display: none !important;
        }
    </style>

    <title>!Baslik</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="./Assets/style.css">
    <link rel="stylesheet" type="text/css" href="./Assets/form.css">
    <link rel="stylesheet" type="text/css" href="./Assets/validationEngine.jquery.css">
    <link rel="stylesheet" type="text/css" href="./Assets/jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="./Assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="./Assets/animate.css">
    <link rel="stylesheet" type="text/css" href="./Assets/media-query.css">
    <link rel="icon" href="./Assets/logo.png">
    <link href="~/Assets/Style2.css" rel="stylesheet" />

</head>

<body>
    <header>
        <div class="container">

            <!-- Logo -->

            <div class="logo">
                <h1><a href="/" title="!Baslik"><img src="./Assets/logo.png" alt="!Baslik"></a></h1>
            </div>


            <!-- Menu -->

            <div class="menu">
                <ul>
                    <li>
                        <a href="http://www.duslervadisiriva.com/villaplanlari.php#">DÜŞLER VADİSİ</a>
                        <ul class="submenu">
                            <li>
                                <a href="http://www.duslervadisiriva.com/lokasyon.php">
                                    DOĞANIN İÇİNDE BİR ADIMDA
                                    ŞEHİRDE
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li><a href="http://www.duslervadisiriva.com/riva.php">RİVA</a></li>

                </ul>
            </div>

            <!--Telefon Menu -->
            <nav class="mobile-menu">
                <ul>
                    <li>
                        <a href="http://www.duslervadisiriva.com/villaplanlari.php#">DÜŞLER VADİSİ</a>
                        <ul class="submenu">
                            <li>
                                <a href="http://www.duslervadisiriva.com/lokasyon.php">
                                    DOĞANIN İÇİNDE BİR ADIMDA
                                    ŞEHİRDE
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="http://www.duslervadisiriva.com/riva.php">RİVA</a></li>

                </ul>
            </nav>


            <div class="menu-btn">menu</div>
            <div class="shadow-mask"></div>
        </div>
        <div class="clear"></div>

    </header>

    <!--TanıtımFilmi Butonu-->
    <div class="buttons">
        <a href="http://www.duslervadisiriva.com/assets/tanitimfilmi.mp4" data-fancybox="video">
            <span><img src="./Assets/sanaltur.png"></span>
            <p>!TanitimFilmi</p>
        </a>

        <div class="clear"></div>
    </div>

   

    <!--Slider-->
    <div class="slider ">
        <div class="owl owl-carousel">

            <!--Slider items-->
            <div class="owl-item " style="width: 100%;">
                <div class="item"><img src="./Assets/villaplanslider.jpg"></div>
            </div>


        </div>
    </div>
    
    
    
    
    <content>
      @RenderBody()

    </content>
    <div class="clear"></div>
    <footer>
        <div class="footer-wrapper">
            <div class="footer-wrap">

                
                <style>

                    .footer-menu {
                        padding: 0 0 20px 0;
                        color: #999;
                    }

                        .footer-menu a {
                            color: #999;
                        }
                </style>
                <div class="sosyalmedya">
                    <div class="footer-menu" style="margin: 10px;">
                        <a href="http://www.duslervadisiriva.com/kurumsal.php">!Kurumsal</a>&nbsp;&nbsp;
                        |&nbsp;&nbsp; <a href="http://www.duslervadisiriva.com/iletisim.php">!Iletisim</a>
                    </div>
                    <div class="telefon" style="margin: 10px;">!TelefonNo</div>
                    <ul>
                        <li><a href="http://www.toki.gov.tr/" target="_blank"><img src="./Assets/footer_logo1.png"></a></li>
                        <li><a href="http://www.emlakkonut.com.tr/tr-TR" target="_blank"><img src="./Assets/footer_logo2.png"></a></li>
                        <li><a href="http://www.yilmazgrup.com.tr/" target="_blank"><img src="./Assets/footer_logo3.png"></a></li>
                        <li><a href="mailto:info@duslervadisiriva.com" target="_blank"><img src="./Assets/footer_logo4.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </footer>



    <a href="/#" class="goto-top" style="display: none;"> <img src="./Assets/001-arrows-1.png"></a>
    <script src="./Assets/jquery.min.js"></script>
    <script type="text/javascript" src="./Assets/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="./Assets/owl.carousel.min.js"></script>
    <script type="text/javascript" src="./Assets/run.js"></script>
    <script type="text/javascript" src="./Assets/validate.js"></script>
    <script type="text/javascript" src="./Assets/validateMessage.js"></script>
    <script type="text/javascript" src="./Assets/maskedinput.js"></script>
    <script>
        if ($(window).width() <= 500) {
            $(".form_content").insertAfter(".slider");
            $(".riva2sag").insertBefore(".riva2sol");
            $(".slideraltslogan").insertBefore(".slider");

        }
    </script>
    <script type="text/javascript">
        var siteadres = top.location.href;
        //alert(siteadres);
        if (siteadres != "http://www.duslervadisiriva.com/") {
            if (siteadres != "http://www.duslervadisiriva.com/index.php") {
                setTimeout(acilis, 1000);

                function acilis() {
                    $(".form_content").toggleClass("form-open");
                    $("#form-menu").toggleClass("menu-open");
                };
            }
        }
    </script>
    <script type="text/javascript" src="./Assets/moment.min.js"></script>
    <script type="text/javascript" id="" src="./Assets/track.ashx"></script>
    <script type="text/javascript" id="" src="./Assets/px"></script>
   
    
</body>

</html>